In [1]:
from models import Category,Product,database

# C

In [11]:
Category.create(name='VIP', description='Unique things') # method

In [15]:
with database:
    Category(name = 'Standalone').save() # Object

In [2]:
with database:
    q= Category.insert(name = 'Others') # Querry
    q.execute()

In [5]:
categories_data = [
    dict(name='Books', description='Papers books.'),
    dict(name='Electronic Books', description='Web books.'),
    dict(name='Mashines', description='Printers,scanets, ect.'),
    dict(name='Pens', description='Pencils and pens')
]
with database: 
    for line in categories_data:
        Category.create(**line) # create in loop

In [10]:
categories_data = [
    dict(name='Books2', description='Papers books v2.'),
    dict(name='Electronic_Books2', description='Web books v2.'),
    dict(name='Mashines2', description='Printers,scanets, ect v2.'),
    dict(name='Pens2', description='Pencils and pens v2')
]
with database:
    q= Category.insert_many(categories_data,fields=[Category.name,Category.description]) #querry 
    q.execute()

In [11]:
categories_data = [
    dict(name='Books3', description='Papers books v3.'),
    dict(name='Electronic Books3', description='Web books v3.'),
    dict(name='Mashines3', description='Printers,scanets, ect v3.'),
    dict(name='Pens3', description='Pencils and pens v3')
]
with database.atomic():
    for line in categories_data:
        Category.create(**line) # create in loop as one transaction

In [14]:
with database:
    books = Category.get(Category.name == 'Books')
    Product.create(name='The economist', price=100, category=books)

In [15]:
names= ['Journal','Thermodinamics','Kinetic']
with database:
    books = Category.get(Category.name == 'Books')
    for name in names:
        Product.create(name=name, price=100, category=books)

In [22]:
names = ['Scanner', 'Printer', 'Cartridge', 'Pad']

[{'name': name, 'category': 1, 'price': 20-len(name)} for name in names]

[{'name': 'Scanner', 'category': 1, 'price': 13},
 {'name': 'Printer', 'category': 1, 'price': 13},
 {'name': 'Cartridge', 'category': 1, 'price': 11},
 {'name': 'Pad', 'category': 1, 'price': 17}]

In [25]:
with database:
    maschines = Category.get(name='Mashines')
    data = [{
        'name': name, 'category': maschines, 'price': 20*10 - len(name)*10
    } for name in names]
    Product.insert_many(
        data,
        fields=[Product.name, Product.category, Product.price],
    ).execute()

# R

In [24]:
with database:
    q = Category.select()

for line in q: #querry automatic use q.execute() in for
    print(line.id,line.name,)

In [3]:
with database:
    p = Category.get(Category.id>3)
    
print(p.id,p.name)
# for i in p:
#     print(p.id)

4 Othersadde

In [72]:
with database:
    q = Product.select().join(Category)
    q = q.execute()
    print(q)
for line in q:
    print('{0:2} {1:.<30} {2:>4.0f} | {3: <10}'.format(line.id,
                                                    line.name,
                                                    line.price,
                                                    line.category.name))

<peewee.ModelCursorWrapper object at 0x000002509B5B3A90>
 1 The economist.................  100 | Books
 2 Journal.......................  100 | Books
 3 Thermodinamics................  100 | Books
 4 Kinetic.......................  100 | Books
 5 Scanner.......................   13 | Mashines
 6 Printer.......................   13 | Mashines
 7 Cartridge.....................   11 | Mashines
 8 Pad...........................   17 | Mashines
 9 Scanner.......................  130 | Mashines
10 Printer.......................  130 | Mashines
11 Cartridge.....................  110 | Mashines
12 Pad...........................  170 | Mashines

# U

In [17]:
with database:
    cat = Category.get_by_id(4) 
    cat.name +='added'
    cat.save()  #Update object
    print(cat.name)

Othersadded

In [19]:
with database:
    q= Category.update(name = 'unknown').where(Category.id>16) # update querry
    q.execute()

# D

In [4]:
with database:
    q= Category.delete().where(Category.name =='unknown' ) #querry
    q.execute()

# M

# Tests

In [12]:
with database:
    q1 = Category.select()
    q2= q1.where(Category.id >5)
    q3 =q2.order_by(Category.name)
    for line in q3:
        print(line.id,line.name)

9 Books2
13 Books2
6 Electronic
10 Electronic
14 Electronic
7 Mashines
15 Mashines2
11 Mashines2
8 Pens
12 Pens2
16 Pens2

In [19]:
with database:
    q = Category.select()
    q2 = q.where(Category.id>3)
    q3 = q2.execute()
print(type(q))
print(q)
print('*'*40)
print(type(q2))
print(q2)
print('*'*40)
print(type(q3))
print(q3)

<class 'peewee.ModelSelect'>
SELECT `t1`.`id`, `t1`.`name`, `t1`.`description` FROM `Categories` AS `t1`
****************************************
<class 'peewee.ModelSelect'>
SELECT `t1`.`id`, `t1`.`name`, `t1`.`description` FROM `Categories` AS `t1` WHERE (`t1`.`id` > 3)
****************************************
<class 'peewee.ModelObjectCursorWrapper'>
<peewee.ModelObjectCursorWrapper object at 0x000002509D07B670>

In [ ]:
with database:
    q = Category.select()
    q2 = q.name