In [ ]:
class Test:
    def __init__(self,b,c) -> None:
        self._a=1
        self._b=b
        self._c = c
        
    @property
    def a(self):
        return self._a
    
    @a.setter
    def set_a(self,a):
        self._a = a
    
    @a.getter
    def get_a(self):
        return f'Proper a = {self._a}'

In [ ]:
t= Test(20,99)
t.set_a =88

# Classes

In [ ]:
class Figure:

    def __init__(self, side1, side2, side3, name=None) -> None:
        self._side1 = side1
        self._side2 = side2
        self._side3 = side3
        self._name = name

    @property
    def side1(self):
        return self._side1

    @property
    def side2(self):
        return self._side2

    @property
    def side3(self):
        return self._side3

    @property
    def name(self):
        return self._name

    def set_side1(self, side1):
        self._side1 = side1

    def set_side2(self, side2):
        self._side2 = side2

    def set_side3(self, side3):
        self._side3 = side3

    def print_sides(self):
        print('Sides:')
        print('{0:_>10.2f}\n{1:_>10.2f}\n{2:_>10.2f}\n'.format(self._side1,self._side3,self._side3))


class Triangle(Figure):

    def eval_perimetr(self):
        return sum([self.side1, self.side2, self.side3])

    def eval_square(self):
        p = self.eval_perimetr() / 2
        a = (p - self.side1)
        b = (p - self.side2)
        c = (p - self.side3)
        return (p * a * c * b)**(1 / 2)

In [ ]:
test = Triangle(3,5,4)
test.eval_perimetr()
test.print_sides()

In [ ]:
class Figure:

    def __init__(self, side1, side2, side3) -> None:
        self.side1 = side1
        self.side2 = side2
        self.side3 = side3


class Triangle(Figure):

    def eval_perimetr(self):
        return self.side1 + self.side2 + self.side3

    def eval_square(self):
        p = self.eval_perimetr() / 2
        a = (p - self.side1)
        b = (p - self.side2)
        c = (p - self.side3)
        return (p * a * c * b)**(1 / 2)

# Pandas

In [1]:
import pandas as pd
URL = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv"
df = pd.read_csv(URL)
df.columns

Index(['date', 'state', 'fips', 'cases', 'deaths'], dtype='object')

In [30]:
# yapf: disable
def show(dataframe,to_console=True):
    if not to_console: 
        styler = (
            dataframe
            .style
            .format(lambda x: '{0:,}'.format(x).replace(',',' '))
        )
        return styler
    print(dataframe)
    
    
df2 = (df
    .loc[df['date']=='2022-12-13']
    .groupby(['state'])
    [['cases','deaths']].sum()
    .sort_values('deaths',ascending=False)
    )
df3 = df2.loc[df2['deaths']<1000]
df4 = df2.loc[(df2['deaths']%2==1) & (df2['cases']%2==0)]


# df.drop(columns=['county','date']).loc[df['deaths']>100]
# df.groupby(['state'],as_index=False)[['state','cases','deaths']].sum()

In [1]:
URL = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
import pandas as pd
df = pd.read_csv(URL)
df.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')

In [2]:
df

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

In [16]:
print('Cleared:')
df2 = df.drop(columns=[
    'Sex',
    'Pclass',
    'Siblings/Spouses Aboard',
    'Parents/Children Aboard',
    'Fare'
])
print(df2)
print('Age >18:')
print(df2.loc[df['Age'] > 18])

print('Survived')
print(df2.loc[(df2['Age'] > 18) & (df['Survived']==1)].drop(columns=['Survived']))

Cleared:
     Survived                                               Name   Age
0           0                             Mr. Owen Harris Braund  22.0
1           1  Mrs. John Bradley (Florence Briggs Thayer) Cum...  38.0
2           1                              Miss. Laina Heikkinen  26.0
3           1        Mrs. Jacques Heath (Lily May Peel) Futrelle  35.0
4           0                            Mr. William Henry Allen  35.0
..        ...                                                ...   ...
882         0                               Rev. Juozas Montvila  27.0
883         1                        Miss. Margaret Edith Graham  19.0
884         0                     Miss. Catherine Helen Johnston   7.0
885         1                               Mr. Karl Howell Behr  26.0
886         0                                 Mr. Patrick Dooley  32.0

[887 rows x 3 columns]
Age >18:
     Survived                                               Name   Age
0           0                             Mr. Owen Harris Braund  22.0
1           1  Mrs. John Bradley (Florence Briggs Thayer) Cum...  38.0
2           1                              Miss. Laina Heikkinen  26.0
3           1        Mrs. Jacques Heath (Lily May Peel) Futrelle  35.0
4           0                            Mr. William Henry Allen  35.0
..        ...                                                ...   ...
881         0                Mrs. William (Margaret Norton) Rice  39.0
882         0                               Rev. Juozas Montvila  27.0
883         1                        Miss. Margaret Edith Graham  19.0
885         1                               Mr. Karl Howell Behr  26.0
886         0                                 Mr. Patrick Dooley  32.0

[721 rows x 3 columns]
Survived
                                                  Name   Age
1    Mrs. John Bradley (Florence Briggs Thayer) Cum...  38.0
2                                Miss. Laina Heikkinen  26.0
3          Mrs. Jacques Heath (Lily May Peel) Futrelle  35.0
8     Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson  27.0
11                             Miss. Elizabeth Bonnell  58.0
..                                                 ...   ...
870               Mrs. Samuel (Hannah Wizosky) Abelson  28.0
875       Mrs. Thomas Jr (Lily Alexenia Wilson) Potter  56.0
876        Mrs. William (Imanita Parrish Hall) Shelley  25.0
883                        Miss. Margaret Edith Graham  19.0
885                               Mr. Karl Howell Behr  26.0

[264 rows x 2 columns]