In [ ]:
class Test:

    def __init__(self, b, c) -> None:
        self._a = 1
        self._b = b
        self._c = c

    @property
    def a(self):
        return self._a

    @a.setter
    def set_a(self, a):
        self._a = a

    @a.getter
    def get_a(self):
        return f'Proper a = {self._a}'

In [ ]:
t = Test(20, 99)
t.set_a = 88

# Classes

In [ ]:
class Figure:

    def __init__(self, side1, side2, side3, name=None):
        self._side1 = side1
        self._side2 = side2
        self._side3 = side3
        self._name = name

    @property
    def side1(self):
        return self._side1

    @property
    def side2(self):
        return self._side2

    @property
    def side3(self):
        return self._side3

    @property
    def name(self):
        return self._name

    @side1.setter
    def set_side1(self, side1):
        self._side1 = side1

    @side2.setter
    def set_side2(self, side2):
        self._side2 = side2

    @side3.setter
    def set_side3(self, side3):
        self._side3 = side3

    def print_sides(self):
        print('Sides:')
        print('{0:_>10.2f}\n{1:_>10.2f}\n{2:_>10.2f}\n'.format(
            self._side1, self._side3, self._side3))


class Triangle(Figure):

    def eval_perimetr(self):
        return sum([self.side1, self.side2, self.side3])

    def eval_square(self):
        p = self.eval_perimetr() / 2
        a = (p - self.side1)
        b = (p - self.side2)
        c = (p - self.side3)
        return (p * a * c * b)**(1 / 2)

In [ ]:
test = Triangle(3, 5, 4)
test.eval_perimetr()
test.print_sides()

In [ ]:
test.set_side1 = 2

In [ ]:
test.print_sides()

In [ ]:
class Figure:

    def __init__(self, side1, side2, side3) -> None:
        self.side1 = side1
        self.side2 = side2
        self.side3 = side3


class Triangle(Figure):

    def eval_perimetr(self):
        return self.side1 + self.side2 + self.side3

    def eval_square(self):
        p = self.eval_perimetr() / 2
        a = (p - self.side1)
        b = (p - self.side2)
        c = (p - self.side3)
        return (p * a * c * b)**(1 / 2)

# Pandas

In [57]:
import pandas as pd
import re

In [58]:
df = pd.read_csv('wild_data.csv')
df.head(1)

,Unnamed: 0,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up

In [59]:
def tr_Size(size: str):
    reg = r'[-+]?(?:\d+(?:\.\d*)?|\.\d+)(?:[eE][-+]?\d+)?'
    m = re.findall(reg + 'M', size)
    k = re.findall(reg + 'K', size)
    if len(m): return float(m[0][:-1])
    elif len(k): return float(k[0][:-1]) / 1024
    return 10.


def tr_Installs(number: str):
    return int(number.replace(',', '').replace('+', ''))


def tr_Price(price: str):
    return float(price.replace('$', '')) * 64


def tr_Android_Ver(version):
    version = str(version)
    reg = r'[-+]?(?:\d+(?:\.\d*)?|\.\d+)(?:[eE][-+]?\d+)?'
    array = re.findall(reg, version)
    if len(array) == 1: return float(array[0])
    elif len(array) == 2: return float(array[0]) + float(array[1]) * 0.1
    return 0


def tr_Content_Rating(rating):
    rate_list = [
        ['Everyone 10+', '10'],
        ['Everyone', '0'],
        ['Teen', '16'],
        ['Mature 17+', '17'],
        ['Adults only 18+', '18'],
        ['Unrated', '0'],
    ]
    for rule in rate_list:
        rating = rating.replace(*rule)
    if rating == 'NaN': return 0
    return int(rating)


df['Size'] = df['Size'].apply(tr_Size)
df['Installs'] = df['Installs'].apply(tr_Installs)
df['Last Updated'] = pd.to_datetime(df['Last Updated'])
df['Price'] = df['Price'].apply(tr_Price)
df['Android Ver'] = df['Android Ver'].apply(tr_Android_Ver)
df['Current Ver'] = df['Current Ver'].apply(tr_Android_Ver)
df['Content Rating'] = df['Content Rating'].apply(tr_Content_Rating)
df.loc[df['Rating'].isna()]=0

df = df.rename(columns={
    # 'Size': 'Size (M)',
    'Unnamed: 0': 'ID like',
    # 'Price': 'Price (RUB)',
    'Content Rating':'Min rating',
    'Current Ver':'App Ver',
})
df = df.drop(columns='Type') # Not need
df.head(1)

,ID like,App,Category,Rating,Reviews,Size,Installs,Price,Min rating,Genres,Last Updated,App Ver,Android Ver
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,0.0,0,Art & Design,2018-01-07 00:00:00,1.0,4.03

In [61]:
df.isnull().sum()

ID like         0
App             0
Category        0
Rating          0
Reviews         0
Size            0
Installs        0
Price           0
Min rating      0
Genres          0
Last Updated    0
App Ver         0
Android Ver     0
dtype: int64

In [21]:
# yapf: disable

df4 = (df
    .loc[df['Rating']>4.9]
    )
df5 = (df
        .loc[df['Category']=='GAME']
        .loc[(df['Rating']>4.9) &(df['Price']==0)]
        .drop(columns=['Price','Category'])
    )

In [28]:
df

,ID like,App,Category,Rating,Reviews,Size,Installs,Price,Min rating,Genres,Last Updated,App Ver,Android Ver
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,0.0,0,Art & Design,2018-01-07,1.00,4.03
1,1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,0.0,0,Art & Design;Pretend Play,2018-01-15,2.00,4.03
2,2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,0.0,0,Art & Design,2018-08-01,1.24,4.03
3,3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,50000000,0.0,16,Art & Design,2018-06-08,0.00,4.20
4,4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,0.0,0,Art & Design;Creativity,2018-06-20,1.10,4.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10835,10836,Sya9a Maroc - FR,FAMILY,4.5,38,53.0,5000,0.0,0,Education,2017-07-25,1.48,4.10
10836,10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6,100,0.0,0,Education,2018-07-06,1.00,4.10
10837,10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5,1000,0.0,0,Medical,2017-01-20,1.00,2.20
10838,10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,10.0,1000,0.0,17,Books & Reference,2015-01-19,0.00,0.00
10839,10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19.0,10000000,0.0,0,Lifestyle,2018-07-25,0.00,0.00

In [32]:
df['Rating']

0        4.1
1        3.9
2        4.7
3        4.5
4        4.3
        ...
10835    4.5
10836    5.0
10837    NaN
10838    4.5
10839    4.5
Name: Rating, Length: 10840, dtype: float64