In [ ]:
class Test:

    def __init__(self, b, c) -> None:
        self._a = 1
        self._b = b
        self._c = c

    @property
    def a(self):
        return self._a

    @a.setter
    def set_a(self, a):
        self._a = a

    @a.getter
    def get_a(self):
        return f'Proper a = {self._a}'

In [ ]:
t = Test(20, 99)
t.set_a = 88

# Classes

In [ ]:
class Figure:

    def __init__(self, side1, side2, side3, name=None):
        self._side1 = side1
        self._side2 = side2
        self._side3 = side3
        self._name = name

    @property
    def side1(self):
        return self._side1

    @property
    def side2(self):
        return self._side2

    @property
    def side3(self):
        return self._side3

    @property
    def name(self):
        return self._name

    @side1.setter
    def set_side1(self, side1):
        self._side1 = side1

    @side2.setter
    def set_side2(self, side2):
        self._side2 = side2

    @side3.setter
    def set_side3(self, side3):
        self._side3 = side3

    def print_sides(self):
        print('Sides:')
        print('{0:_>10.2f}\n{1:_>10.2f}\n{2:_>10.2f}\n'.format(
            self._side1, self._side3, self._side3))


class Triangle(Figure):

    def eval_perimetr(self):
        return sum([self.side1, self.side2, self.side3])

    def eval_square(self):
        p = self.eval_perimetr() / 2
        a = (p - self.side1)
        b = (p - self.side2)
        c = (p - self.side3)
        return (p * a * c * b)**(1 / 2)

In [ ]:
test = Triangle(3, 5, 4)
test.eval_perimetr()
test.print_sides()

In [ ]:
test.set_side1 = 2

In [ ]:
test.print_sides()

In [ ]:
class Figure:

    def __init__(self, side1, side2, side3) -> None:
        self.side1 = side1
        self.side2 = side2
        self.side3 = side3


class Triangle(Figure):

    def eval_perimetr(self):
        return self.side1 + self.side2 + self.side3

    def eval_square(self):
        p = self.eval_perimetr() / 2
        a = (p - self.side1)
        b = (p - self.side2)
        c = (p - self.side3)
        return (p * a * c * b)**(1 / 2)

# Pandas

In [14]:
import pandas as pd
import re

In [15]:
df = pd.read_csv('wild_data.csv')
df.head(1)

,Unnamed: 0,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up

In [16]:
def tr_Size(size: str):
    reg = r'[-+]?(?:\d+(?:\.\d*)?|\.\d+)(?:[eE][-+]?\d+)?'
    m = re.findall(reg + 'M', size)
    k = re.findall(reg + 'K', size)
    if len(m): return float(m[0][:-1])
    elif len(k): return float(k[0][:-1]) / 1024
    return 10.


def tr_Installs(number: str):
    return int(number.replace(',', '').replace('+', ''))


def tr_Price(price: str):
    return float(price.replace('$', '')) * 64


def tr_Android_Ver(version):
    version = str(version)
    reg = r'[-+]?(?:\d+(?:\.\d*)?|\.\d+)(?:[eE][-+]?\d+)?'
    array = re.findall(reg, version)
    if len(array) == 1: return float(array[0])
    elif len(array) == 2: return float(array[0]) + float(array[1]) * 0.1
    return 0


def tr_Content_Rating(rating):
    rate_list = [
        ['Everyone 10+', '10'],
        ['Everyone', '0'],
        ['Teen', '16'],
        ['Mature 17+', '17'],
        ['Adults only 18+', '18'],
        ['Unrated', '0'],
    ]
    for rule in rate_list:
        rating = rating.replace(*rule)
    return int(rating)


df['Size'] = df['Size'].apply(tr_Size)
df['Installs'] = df['Installs'].apply(tr_Installs)
df['Last Updated'] = pd.to_datetime(df['Last Updated'])
df['Price'] = df['Price'].apply(tr_Price)
df['Android Ver'] = df['Android Ver'].apply(tr_Android_Ver)
df['Current Ver'] = df['Current Ver'].apply(tr_Android_Ver)
df['Content Rating'] = df['Content Rating'].apply(tr_Content_Rating)

df = df.rename(columns={
    # 'Size': 'Size (M)',
    'Unnamed: 0': 'ID like',
    # 'Price': 'Price (RUB)',
    'Content Rating':'Min rating',
    'Current Ver':'App Ver',
})
df = df.drop(columns='Type') # Not need
df.head(1)

,ID like,App,Category,Rating,Reviews,Size,Installs,Price,Min rating,Genres,Last Updated,App Ver,Android Ver
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,0.0,0,Art & Design,2018-01-07,1.0,4.03

In [17]:
df.dtypes

ID like                  int64
App                     object
Category                object
Rating                 float64
Reviews                  int64
Size                   float64
Installs                 int64
Price                  float64
Min rating               int64
Genres                  object
Last Updated    datetime64[ns]
App Ver                float64
Android Ver            float64
dtype: object

In [21]:
# yapf: disable

df4 = (df
    .loc[df['Rating']>4.9]
    )
df5 = (df
        .loc[df['Category']=='GAME']
        .loc[(df['Rating']>4.9) &(df['Price']==0)]
        .drop(columns=['Price','Category'])
    )

In [25]:
df5

,ID like,App,Rating,Reviews,Size,Installs,Min rating,Genres,Last Updated,App Ver,Android Ver
5795,5795,Axe Champs! Wars,5.0,8,25.0,50,0,Arcade,2018-06-26,1.10,4.10
5822,5822,Flippy Axe : Flip The Knife & Axe Simulator,5.0,7,15.0,100,0,Arcade,2017-09-27,1.10,4.20
6700,6700,Brick Breaker BR,5.0,7,19.0,5,0,Arcade,2018-07-23,1.00,4.10
7402,7402,Trovami se ci riesci,5.0,11,6.1,10,0,Arcade,2017-03-11,0.10,2.30
7698,7698,CP Trivia,5.0,5,12.0,100,0,Trivia,2018-08-06,0.99,5.00
9265,9265,EC Mover,5.0,5,4.6,10,0,Racing,2018-08-01,1.11,4.03
10720,10721,Mad Dash Fo' Cash,5.0,14,16.0,100,0,Arcade,2017-06-19,2.50,4.10
10775,10776,Monster Ride Pro,5.0,1,24.0,10,0,Racing,2018-03-05,2.00,2.30